{% macro comment(target) %}
    {% spaceless %}
        <a href="{{ url('success_comment_new', {'type': target.identifier, 'id': target.id}) }}" class="add-comment">
            {{ target.identifier == 'comment' ? 'Antworten' : 'Kommentieren' }}
        </a>
    {% endspaceless %}
{% endmacro %}