{% macro up(target) %}
    {% spaceless %}
        <a href="{{ url('success_vote_up', {'id': target.id, 'type': target.identifier}) }}" class="vote">
            <i class="fa fa-arrow-up"></i>
        </a>
    {% endspaceless %}
{% endmacro %}

{% macro down(target) %}
    {% spaceless %}
        <a href="{{ url('success_vote_down', {'id': target.id, 'type': target.identifier}) }}" class="vote">
            <i class="fa fa-arrow-down"></i>
        </a>
    {% endspaceless %}
{% endmacro %}