<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Suxxess{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        'bundles/successassets/css/main.less'
        'bundles/bmatznerfontawesome/css/font-awesome.min.css'
        '@bootstrap_css'
        filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="center-block">
<header>
    {% block header %}<h1>Suxxess</h1>{% endblock %}
</header>
<div id="content" class="{% block content_class %}{% endblock %}">
    {% block body %}{% endblock %}
</div>
<footer>
    {% block footer %}{% endblock %}
</footer>
{% block javascripts %}
    {% javascripts
    '@vendors'
    '@bootstrap_js'
    '@SuccessViewBundle/Resources/public/js/bootstrap.js'
    '@SuccessViewBundle/Resources/public/js/core/*.js'
    '@SuccessViewBundle/Resources/public/js/modules/*.js'
    filter="?uglifyjs2"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
<input type="hidden" id="js-modules" value="{{- js_modules()|join(' ') -}}"/>
</body>
</html>