<h3>Kommentare</h3>
<div class="comment-container">
    <div class="main-comment">
        {{ render(controller('SuccessCommentBundle:Comment:new', {'target': goal})) }}
    </div>
    <div class="comment-list clearfix list-group">
        {% include '@SuccessComment/Comment/all.html.twig' %}
    </div>
</div>