{% import '@SuccessView/Macros/voting.html.twig' as voteButtons %}
{% import '@SuccessView/Macros/actions.html.twig' as actions %}
<div class="comment-{{ comment.id }} list-group-item">
    <div class="small">
        <span class="owner">{{ comment.owner }}</span>
        <small>
            <span class="score">{{ comment.score }}</span>
            <span class="voting">{{ voteButtons.up(comment) }}{{ voteButtons.down(comment) }}</span>
        </small>
        <span class="time">{{ comment.createdAt|date("d.m.Y g:i") }}</span>
    </div>
    <span>{{ comment.text }}</span>
    <div class="actions">
        {{ actions.comment(comment) }}
    </div>
    {% if comment.hasAnyComment %}
        {% include '@SuccessComment/Comment/all.html.twig' with {'target': comment} %}
    {% endif %}
</div>