<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Suxxess{% endblock %}</title>
</head>
<body>
<div id="content" class="{% block content_class %}{% endblock %}">
    {% block body %}{% endblock %}
</div>
<footer>
    {% block footer %}{% endblock %}
</footer>
</body>
</html>