{% extends 'base.html.twig' %}
{% import '@SuccessView/Macros/voting.html.twig' as voteButtons %}
{% block header %}
    <h1>{{ category.name }}</h1>
{% endblock %}
{% block body %}
    {% set goals = category.goals %}
    <ul class="list-group">
        {% for goal in goals %}
            <li class="goal list-group-item">
                <a href="{{ url('success_goal_show', {slug: goal.slug}) }}">{{ goal }}</a>
                <small>
                    <span class="score">{{ goal.score }}</span>
                    <span class="voting">{{ voteButtons.up(goal) }}{{ voteButtons.down(goal) }}</span>
                </small>
            </li>
        {% endfor %}
        <a href="{{ url('success_goal_new', {slug: category.slug}) }}">+ Ziel hinzufügen</a>
    </ul>
{% endblock %}