{% import '@SuccessView/Macros/voting.html.twig' as voteButtons %}
{% extends 'base.html.twig' %}
{% block header %}
    <h1>
        {{ goal.title }}
        <small>
            <span class="score">{{ goal.score }}</span>
            <span class="voting">{{ voteButtons.up(goal) }}{{ voteButtons.down(goal) }}</span>
        </small>
    </h1>
{% endblock %}
{% block body %}
    <div class="row">
        {{ goal.description }}
    </div>
    <div class="row">
        {% for step in goal.steps %}
            {% include '@SuccessView/Step/single.html.twig' %}
        {% endfor %}
    </div>
    <div class="row">
        <a href="{{ url('success_step_new', {'slug': goal.slug}) }}">+ Fortschritt hinzufügen</a>
    </div>
    <div class="row">
        {{ include('@SuccessComment/Comment/index.html.twig', {'target': goal}) }}
    </div>
{% endblock %}
{% block footer %}
    <small>Erstellt am {{ goal.createdAt|date("d.m.Y") }}</small>
{% endblock %}