{% extends 'base.html.twig' %}
{% js_module 'step' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    {{ form(form) }}
    {% include '@SuccessView/Step/progress.html.twig' %}
{% endblock %}