<div class="row step-{{ step.id }}">
    <div>
        {{ step.createdAt|date("d.m.Y g:i") }}
    </div>
    <div>
        {% thumbnail step.media, 'small' %}
    </div>
    <div>
        {{ include('@SuccessComment/Comment/index.html.twig', {'target': step}) }}
    </div>
</div>