{% extends 'base.html.twig' %}
{% block body %}
    <ul class="list-group">
        {% for category in categories %}
            <li class="category list-group-item">
                <a href="{{ url('success_goal_index', {slug: category.slug}) }}">{{ category }}</a>
            </li>
        {% endfor %}
        <a href="{{ url('success_category_new') }}">+ Kategorie hinzufügen</a>
    </ul>
{% endblock %}